@import "../../variables";

.working-section .service{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.working-section .service .description{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba($color: #fff, $alpha: 0.9);
  z-index: 2;
  font-size: 22px;
  padding: 15px 0;
  text-align: center;
  font-weight: 500;
}

.working-section .service img{
  width: 100%;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}

.working-section .service span{
  color: #3c763d;
}

.working-section .service-box{
  position: relative;
  display: flex;
  align-items: center;
}

.working-section .service-box-first{
  margin-bottom: 40px;
}

.working-section .service-box p.icon{
  color: #3c763d;
  font-size: 60px;
  margin: 0;
  z-index: 2;
  background-color: $grey;
}

.working-section .working-title{
  text-align: center;
  margin-bottom: 40px;
}

.working-section .gallery-button{
  margin-top: 20px;
  animation: headShake 3s infinite;
}

.working-section .service-box .col{
  padding: 0 15px;
}

// Tablet
@media (max-width: $tablet) {
  .working-section .service-box-second .service{
    margin: auto;
  }

  .working-section .service .description{
    font-size: 18px;
  }

  .working-section .service-box-second div:nth-child(3) .service{
    margin-top: 20px;
  }

  .working-section .service-box-second div:last-child .service{
    margin-top: 20px;
  }
}

// Phone
@media (max-width: $phone) {
  .working-section .service-box-first{
    margin-bottom: 20px;
  }

  .working-section .service-box-second div:first-child .service{
    margin-bottom: 20px;
  }

  .working-section .service-box-second div:nth-child(3) .service{
    margin-top: 20px;
  }

  .working-section .service-box-second div:last-child .service{
    margin-top: 20px;
  }

  .working-section .service-box .col{
    padding: 0;
  }
}