@import "../../variables";

.services-section .card{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  height: 100%;
  max-width: 450px;
}

.services-section .card a{
  margin-top: auto;
}

.services-section h2{
  margin: 20px 0;
}

.services-section p{
  font-size: 20px;
  margin-bottom: 20px;
}

.services-section .services-title{
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.services-section .services-content .col{
  display: flex;
  justify-content: center;
}

.info-section .opening {
  padding: 0;
  padding-left: $section-horizontal-padding;
  flex: 0 0 57%;
  max-width: 57%;
}
.info-section .warning {
  padding: 0;
  padding-right: $section-horizontal-padding;
}

.info-section .opening{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-section .opening div{
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.info-section .opening p{
  color: #fff;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
}

.info-section .opening img{
  margin-right: 20px;
}

.info-section .warning {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-section .warning p{
  margin: 0;
}

.info-section .warning div{
  text-align: center;
  margin-right: auto;
}

.info-section .warning .info{
  padding-left: 20px;
}

.info-section .warning .info div{
  padding: 0;
  max-width: 328px;
}

.info-section .warning .title{
  font-weight: 500;
  color: $red;
}

.info-section .warning .text{
  font-weight: 500;
}

.info-section .warning img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-section .warning .icon{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: $red;
}

// PC
@media (min-width: $tablet) {
  .services-section .services-content .col{
    padding: 0 15px;
  }
}

// Tablet
@media (max-width: $tablet) {
  .services-section .services-content{
    margin: 0;
  }

  .services-section .card{
    margin: auto;
    height: auto;
  }

  .info-section .opening {
    padding: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .info-section .opening div {
    justify-content: center;
  }

  .info-section .opening p{
    margin: auto 0 auto 0;
  }

  .services-section .services-content div:first-child .card{
    margin-bottom: 10px;
  }

  .services-section .services-content div:last-child .card{
    margin-top: 10px;
  }

  .info-section .warning{
    padding: 0;
  }

  .info-section .warning .info {
    padding: 0;
    margin: auto;
  }
}

// Phone
@media (max-width: $phone) {
  .services-section .btn-more{
    font-size: 14px;
  }
  
  .services-section h2{
    font-size: 1.8rem;
  }
  
  .services-section p{
    font-size: 18px
  }

  .services-section img{
    width: 160px;
  }

  .info-section .opening p{
    font-size: 18px;
  }

  .info-section .opening div{
    width: 100%;
    padding: 20px 10px;
  }

  .info-section .opening img{
    width: 60px;
  }

  .info-section .warning .title {
    font-size: 25px;
  }

  .info-section .warning .text {
    font-size: 16px;
    line-height: 22px;
  }

  .info-section .warning img{
    width: 120px;
  }
}