@import "../../_variables";

@keyframes animatedBackground {
  from {transform: translateX(0);}
  to {transform: translateX(-9%);}
}

.main-header {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-header .background {
  position:absolute;
  top:-10%;
  width:110%;
  height:110%;
  background-image: url(../../images/headers/1.jpg);
  background-size: cover;

  animation: animatedBackground 55s ease-in-out forwards;
}

.main-header .content {
  bottom: 0;
  position: absolute;
  width: 100%;
  min-height: calc(100% - #{$max-menu-height});
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 $main-lateral-padding 10px $main-lateral-padding;
}

.main-header .content h1 {
  text-align: center;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.2);
  text-transform: uppercase;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 15px;
  margin: 20px 0 0 0;

  opacity: 0;
  animation: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.main-header .content h2 {
  margin: 0;
}

.main-header .content p {
  margin: 0;
}

.main-header .button-box {
  opacity: 0;
  animation: fadeIn;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.main-header .button {
  margin: 20px 0 0;
  text-align: center;

  animation: pulse;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.main-header .button a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
}

.main-header .button a:hover {
  color: #fff;
}