@import "../../variables";

footer {
  padding: 48px 15px;
  background: #f2f0e9;
  font-size: 14px;
  color: #000;
}

footer .row {
  margin: auto;
  max-width: 1000px;
}

footer a{
  text-decoration: none !important;
  color: #000;
}

footer a:hover{
  color: #3E4979;
}

footer img{
  margin-bottom: 40px;
}

footer .instagram,
footer .whatsapp{
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 20px 0;
  font-size: 18px;
}

footer .instagram div{
  display: flex;
  align-items: center;
}

footer .instagram a,
footer .whatsapp a {
  text-decoration: none;
  color: #000;
}

footer .instagram a:hover{
  color: #3E4979;
}

footer .whatsapp a:hover{
  color: #00A82D
}

footer .whatsapp a{
  display: flex;
  align-items: center;
  font-weight: 600;
}

footer .whatsapp img{
  width:  37px;
  margin: 0;
}

// Phone
@media (max-width: $phone) {
  footer .instagram,
  footer .whatsapp {
    font-size: 17px;
    flex-direction: column;
    align-items: unset;
  }

  footer {
    padding: 48px ($section-horizontal-padding/2)/2;
  }

  footer img{
    margin-bottom: 20px;
  }
}