@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');
@import "./variables";

* {
  font-family: 'Raleway', 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body, div#root, div.App, div.App-content {
  width: 100%;
  height: 100%;
}

.bg-grey {background-color: #F2F0E9;}
.bg-white {background-color: #FFF;}
.bg-blue {background-color: #3E4979;}
.bg-black {background-color: #222222;}

section {
  position: relative;
  padding: $section-vertical-padding $section-horizontal-padding;
}
section.half-padding{
  padding: ($section-vertical-padding/2) $section-horizontal-padding !important;
}
section.padding-vertical{
  padding: $section-vertical-padding 0 !important;
}
section.half-padding-vertical{
  padding: ($section-vertical-padding/2) 0 !important;
}
section.padding-horizontal {
  padding: 0 $section-horizontal-padding !important;
}
section.padding-less {
  padding: 0 !important;
}

section .title {
  //font-family: "Roboto",sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

section .sub-title {
  //font-family: "Roboto",sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  color: #4e4e4e;
  letter-spacing: 2.4px;
}

section .text {
  //font-family: "Roboto",sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #4e4e4e;
  letter-spacing: 1.8px;
  margin-bottom: 20px;
}

section .btn-more {
  //font-family: "Roboto",sans-serif;
  display: inline-block;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  letter-spacing: 2.92px;
  text-decoration: none;
}

hr{
  border: 1px solid $black;
  width: 40px;
  margin-top: 0;
}

a{
  cursor: pointer;
}

.intro-section .text-col,
.intro-section .data-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.intro-section .text-col h2{
  margin-bottom: 40px;
  font-size: 2.7vw;
  line-height: 2.7vw;
}

.intro-section .text-col p{
  margin: 0;
  font-size: 1.32vw;
  line-height: 2.2vw;
  text-align: justify;
}

.intro-section .text-col a{
  font-size: 1.05vw;
  margin-top: 40px;
  animation: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.intro-section .data-col img{
  max-height: 100%;
  max-width: 100%;
}

.responsive-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}